{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body{ font-family: Arial, serif; }
    .category{ margin-bottom: 2rem; }
</style>

{#<div class="example-wrapper">#}
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/Users/JulienDALLASANTA(DEF/Symfony/formation/src/Controller/CategorieController.php'|file_link(0) }}">src/Controller/CategorieController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/Users/JulienDALLASANTA(DEF/Symfony/formation/templates/categorie/index.html.twig'|file_link(0) }}">templates/categorie/index.html.twig</a></code></li>#}
{#    </ul>#}
{#</div>#}

{#{{ dump(entities) }}#}
    <h1>Catégories :</h1>
    {% for entity in entities %}
        <li class="category">
            <a href="/categorie/{{ entity.id }}" style="color:royalblue; text-decoration: none; font-size: 1.5rem; font-weight: bold;">{{ entity.titre }}</a>
            <ul><li style="list-style: none;">{{ entity.description }}</li></ul>
        </li>

    {% endfor %}

{% endblock %}
